{% extends 'base.html' %}
<!--  -->
{% load static %}
<!-- -->
{% block content %}
<!-- -->

<div id="loginDiv">
  <h1>login page</h1>
  <div>
    <form @submit.prevent>
      <!-- -->
      {% csrf_token %}
      <!-- -->
      <input type="text" v-model="userId" placeholder="userId" required minlength="3" />
      <br />
      <input type="password" v-model="password" placeholder="password" required minlength="3" />
      <br />
      <input @click="loginSubmit" type="submit" value="log in" />
    </form>
  </div>
  <div>
    <a href="/account/findid/">
      <button>아이디/비밀번호 찾기</button>
    </a>
  </div>
</div>
<script src="{% static '/js/account/login.js' %}"></script>
<!-- -->
{% endblock %}
