{% extends 'base.html' %}
<!-- -->
{% block content %}
<!-- -->
<style>
  .form_category {
    display: inline-block;
    width: 150px;
  }
</style>
<div id="signupDiv" class="mb-3">
  <h1>signup</h1>

  <div>
    <form @submit.prevent>
      {% csrf_token %}
      <div>
        <div>
          <span class="form_category">아이디</span>
          <input @change="onChangeCheckExistId" type="text" v-model="userId" required minlength="3" />
          &nbsp;
          <button @click="checkExistId">중복확인</button>
        </div>
        <div>
          <span class="form_category">비밀번호</span>
          <input type="password" v-model="password" required minlength="3" />
        </div>
        <div>
          <span class="form_category">비밀번호 확인</span>
          <input
            @change="onChangeCheckPassword"
            type="password"
            v-model="checkPassword"
            id="checkPassword"
            required
            minlength="3"
          />
          &nbsp;
          <span v-if="resultCheckPassword == 1">비밀번호를 확인하여주세요</span>
        </div>
        <div>
          <span class="form_category">성명</span>
          <input type="text" v-model="username" required minlength="2" />
        </div>
        <div>
          <span class="form_category">부서</span>
          <input type="text" v-model="department" required />
        </div>
        <div>
          <span class="form_category">직책 및 직급</span>
          <input type="text" v-model="position" required />
        </div>
        <div>
          <span class="form_category">이메일</span>
          <input type="text" v-model="emailName" required />
          <span>@</span>
          <input type="text" v-model="emailServer" required />
          &nbsp;
          <select v-model="emailServer">
            <option value="" selected>직접입력</option>
            <option value="naver.com">네이버</option>
            <option value="gmail.com">구글</option>
          </select>
        </div>
        <div>
          <span class="form_category">일반전화</span>
          <select v-model="phoneNumberFirst">
            <option value="02" selected>02</option>
            <option value="032">032</option>
            <option value="042">042</option>
          </select>
          <span>-</span>
          <input type="text" v-model="phoneNumberMiddle" minlength="3" />
          <span>-</span>
          <input type="text" v-model="phoneNumberLast" minlength="3" />
        </div>
        <div>
          <span class="form_category">휴대전화</span>
          <select v-model="mobilePhoneNumberFirst">
            <option value="010" selected>010</option>
            <option value="070">070</option>
          </select>
          <span>-</span>
          <input type="text" v-model="mobilePhoneNumberMiddle" required minlength="3" />
          <span>-</span>
          <input type="text" v-model="mobilePhoneNumberLast" required minlength="3" />
        </div>
      </div>
      <div>
        <input @click="signupSubmit" type="submit" value="submit" />
      </div>
    </form>
  </div>
</div>
<script src="/static/js/accout.js"></script>
{% endblock %}
