{% extends 'base.html' %}
<!-- -->
{% load static %}
<!--  -->
{% block content %}
<!-- -->
<style>
  .form_category {
    display: inline-block;
    width: 150px;
  }

  ul {
    display: inline-block;
  }

  .temp {
    display: inline-block;
  }
</style>
<div id="noticeNewpostDiv">
  <h1>notice create</h1>
  {% comment %}
  <form action="/notice_create/" method="post" enctype="multipart/form-data">
    {% csrf_token %} {{form.as_p}}
    <input type="submit" value="등록" />
  </form>
  {% endcomment %}

  <form id="form" action="/notice_create/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label>
        <span class="form_category">제목</span>
        <input type="text" name="title" maxlength="150" required />
      </label>
    </div>

    <div>
      <label>
        <span class="form_category">작성자</span>
        <input type="text" disabled value="{{ request.session.user.userId }}" />
      </label>
    </div>

    <div>
      <span class="form_category">공개여부</span>
      <label>
        <input type="radio" name="visibility" value="public" checked />
        <span class="">공개</span>
      </label>
      <label>
        <input type="radio" name="visibility" value="private" />
        <span class="">비공개</span>
      </label>
      <label id="passwordLabel" style="display: none">
        <span class="">비밀번호</span>
        <input type="password" name="password" />
      </label>
    </div>

    <div>
      <label>
        <span class="form_category">내용</span>
        <br />
        <!-- <textarea name="content" cols="40" rows="10" required></textarea> -->
        <textarea name="content" id="summernote"></textarea>
      </label>
    </div>

    <div>
      <br />
      <span class="form_category">첨부파일</span>
      <span>
        <span id="attachBox" class="temp">
          <input type="file" name="attachment" />
        </span>
        <span class="temp">
          <input type="button" id="addAttach" value="추가" />
          <input type="button" id="removeAttach" value="삭제" />
        </span>
      </span>
    </div>

    <input type="submit" />

    <div class="form-group" style="display: none" id="progress_div">
      <br />
      <div class="progress">
        <div
          class="progress-bar"
          id="progress_bar"
          role="progressbar"
          style="width: 0%"
          aria-valuenow="0"
          aria-valuemin="0"
          aria-valuemax="100"
        >
          0%
        </div>
      </div>
    </div>
    <div class="row form-group">
      <p id="progress_text"></p>
    </div>
  </form>
</div>
<script src="{% static '/js/summernote.js' %}"></script>
<script src="{% static '/js/notice/notice.js' %}"></script>
<script src="{% static '/js/notice/visibilityDOM.js' %}"></script>
<!-- -->
{% endblock %}
