{% extends 'base.html' %}
<!-- -->
{% load static %}
<!--  -->
{% block content %}
<!-- -->
<style>
  [v-cloak] {
    display: none;
  }
</style>
<div id="app" v-cloak>
  <h1>notice2 create</h1>

  <form id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label>
        <span>제목</span>
        <input type="text" name="title" />
      </label>
    </div>

    <div>
      <label>작성자</label>
      <input type="text" value="{{request.session.user.userId}}" disabled />
    </div>

    <code-radio
      v-bind:code="code.visibility"
      v-model:visibility="data.visibility"
      v-model:password="data.password"
    ></code-radio>

    <div>
      <label>
        <span class="form_category">내용</span>
        <br />
        <textarea cols="40" rows="10" id="summernote"></textarea>
      </label>
    </div>

    <div>
      <label>
        <span>첨부파일</span>
        <input type="file" name="attachment" v-on:change="setAttachment" />
        <input type="file" name="attachment" v-on:change="setAttachment" />
      </label>
    </div>

    <br />
    <input type="submit" />
  </form>
</div>
<!-- -->
<script src="{% static '/js/summernote.js' %}"></script>
<script src="{% static '/js/notice2/notice2_create.js' %}"></script>
{% endblock %}
