{% load static %}
<!DOCTYPE html>
<html lang="en">
  {% include "head.html" %}
  <body>
    <div class="container">
      <h1>base</h1>
      <nav>
        <a href="/">index</a>

        {% if request.session.user %}
        <a href="/account/logout">logout</a>
        {% else %}
        <a href="/account/login">log in</a>
        <a href="/account/signup">sign up</a>
        {% endif %}
        <!-- <a href="/annoucement/list">공지사항</a> -->
        <a href="/notice_list">Notice</a>
        <!-- <a href="{% url 'lab:create' %}">lab create(class)</a> -->
        <!-- <a href="/labcreate/">lab create(def)</a> -->
      </nav>

      <!-- <p>{{ request.session.user }}</p> -->

      {% block content %} {% endblock%} {% include "footer.html" %}
    </div>
  </body>
</html>
